.login-container {
    display: flex;
    background-color:palevioletred;
    padding: 2%;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2); 
    width: 80%; 
    margin: 10px auto; 
    border-radius: 30px;
    position: fixed; 
    opacity: 1; 
    top: 10%; 
    left: 50%; 
    transform: translateX(-50%); 
}
ul,li{
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;


}
ul,li:hover{
    transform: translateX(10%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -ms-zoom-animation:inherit ;
}
img{
    flex:1;
}
body{
    background-color: lightpink;
}